/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* clear any browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color pallet */
:root {
  --dark-blue: #2b2b54; 
  --mid-blue: #325288;
  --ballet-pink: #f4eee8;
  --light-pink: #f5cebe;
  --dark-teal: #114e60;
  --serif: Georgia, serif;
  --sans-serif: Arial, Helvetica, sans-serif;
}

/* global styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--sans-serif);
  max-width: 1500px;
  margin: 0 auto;
  color: var(--dark-blue);
}

h1 {
  font-family: var(--sans-serif);
  font-size: 40px;
  color: var(--dark-blue);
}

h2 {
  font-family: var(--serif);
  font-size: 18px;
  color: var(--dark-blue);
  text-align: right;
  padding-top: 5px;
}

h3 {
  font-family: var(--serif);
  flex: 0 17%;
  font-size: 33px;
  padding-top: 20px;
  padding-left: 30px;
}

h3::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--dark-blue);
  width: 75px;
  padding-top: 10px;
}

li a:hover, li a:active {
  border-bottom: 2px solid var(--dark-teal);
  color: var(--dark-teal);
}

/* Header styles */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  background-color: #FFF;
  border-bottom: 3px solid var(--ballet-pink);
  top: 0;
  z-index: 9999;
}

header nav {
  padding-right: 35.2px;
  display: flex;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

header nav ul li a {
  padding: 15px 0 5px;
  margin: 25px;
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 18px;
}

.h1-block {
  padding: 20px 30px;
  margin-left: 30px;
}

/* about me styles */
.about-me {
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.about-me img {
  flex: 0 14%;
  width: 200px;
  height: 100%;
  border-radius: 50%;
  margin-right: 140px;
}

.about-me div {
  flex: 2;
  align-self: center;
  padding-left: 20px;
}

.about-me div > * {
  padding-bottom: 20px;
}

.about-me div p {
  width: 85%;
}

/* Responsive styling */
@media screen and (max-width: 1365px) {
  h3 {
      flex: 0 20%;
  }

  .about-me div p {
      width: 95%;
  }

  .about-me img {
      margin-right: 40px;
  }
}

@media screen and (max-width: 980px) {
  header nav {
      justify-content: space-around;
      padding: 0 0 20px;
  }
}

@media screen and (max-width: 840px) {
  .h1-block {
      margin-left: 0;
  }

  header nav ul li a {
      margin: 16px;
  }
  
}

@media screen and (max-width: 768px) {
  header {
      justify-content: center;
  }
}

@media screen and (max-width: 524px) {
  h1 {
      margin-left: 0;
      padding: 10px 0 0;
  }
  
  header nav ul {
      justify-content: center;
      padding-top: 0;
  }

  header nav ul li {
      padding-top: 20px;
  }

  header nav ul li a {
      margin: 10px;
  }
}

